#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero-sticky {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 20;
  transition: none;
}

.video-hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-hero__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 10%,
      transparent 0%
    ),
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background-size: 20px 20px, auto;
  background-repeat: repeat, no-repeat;
  background-position: 0 0, 0 0;
}

.video-hero__title {
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  transition: none;
}

.title-container {
  /* top: var(--navbar-offset, 2.5rem); */
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -65vh;
  z-index: 30;
}

.title {
  font-size: 100px;
  color: black;
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.hero-social-links {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

.hero-social-links a {
  text-decoration: none;
  margin: 0 10px;
}

.social-links {
  color: black;
  text-align: center;
  font-size: 24px;
}

.social-links a {
  text-decoration: none;
  margin: 0 10px;
}

.hero-title-container {
  position: sticky;
  top: var(--navbar-offset, 2.5rem);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -60vh;
  z-index: 30;
}

.video-hero__subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
