@import "tailwindcss";

html,
body {
  font-family: Helvetica, Arial;
  background-color: white;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 10%,
    transparent 0%
  );
  background-size: 20px 20px;
}
